*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial;
  color:#555;
}

section{
  min-height:600px;
  padding:70px 10%;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:80px;
  text-align:center;
  background:#f5f5f5;
}

.hero{
  background:#eee;
}

.logo{
  width:250px;
  margin-bottom:30px;
}

.screen{
  width:45%;
  max-width:550px;
}

.store{
  width:150px;
  margin:10px;
}

h2{
  color:#333;
  letter-spacing:5px;
  margin-bottom:25px;
}

p{
  font-size:20px;
  line-height:1.6;
}

footer{
  text-align:center;
  padding:70px;
  background:#e5e5e5;
}
.pera{
    height: 100px;
    align-items: center;
    
}

@media(max-width:700px){
  section{
    flex-direction:column;
    gap:30px;
  }

  .screen{
    width:90%;
  }
}
